* {
    margin: 0;
    padding: 0;
}

header{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    
}
button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

button:hover {
    background-color: #008CBA;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

p{
    margin: 30px;

}


.card-people{
    margin: 1rem;
    width: 10rem;
    height: 13rem;
    border-radius: 15px;
    border: groove #008CBA 2px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-people {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 50%;
}

.name-people {
    font-family: 'Macondo', cursive;
    font-size: 1.2rem;
    font-weight: 600;
    color: blueviolet;
}

.age-people {
    font-family: 'Macondo', cursive;
    font-size: 1.2rem;
    font-weight: 600;
    color: blueviolet;
}







.modal {
    width: 20rem;
    height: 15rem;  
    border: groove #000000 2px;
    background-color: #98a2a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;  
    z-index: 1;
    display: none;
  }
  
  .modal > input {
    width: 10rem;
    height: 1.5rem;
    border-radius: 15px;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 1rem;  
  }
  
  /* input tipo file dentro de .modal */
  .modal input[type="file"] {
    width: 14rem;
    height: 2rem;
    border-radius: 5px;  
    color: #ffff;
    font-size: 1rem;  
    margin-left: 4rem;
  }
  
  /* .modal > button {
    width: 12rem;
    height: 2rem;
    border-radius: 15px;
    background-color: #008CBA;
    color: #000000;
    font-size: 1rem;  
    cursor: pointer;  
  }
  
  .modal > button:hover,
  .modal > button:focus {
    background-color: #008CBA;
    font-weight: 900;
    color: #ffff;
  } */
  
  #close-modal {
    width: 0.01%;
    height: 0.01%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 75%;

  }
  